.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 50px;
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--light-gray);
  font-weight: 300;
  font-stretch:ultra-expanded;
}
