.container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--yellow);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 56px;
  gap: 26px;
  padding: 0 16px;
}
.form {
  display: flex;
  align-items: center;
}
.searchInput {
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
}
.searchInput::placeholder {
  color: var(--light-grey);
}

.searchInput:focus {
  outline: none;
  border: 1px solid var(--light-grey);
}

.searchButton {
  width: 41px;
  height: 34px;
  border: none;
  background-color: var(--white);
  color: var(--black);
  border-radius: 0 4px 4px 0;
  display: grid;
  place-content: center center;
  cursor: pointer;
}
